.restaurant-item {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 4px;
  margin-bottom: 20px;
}

.restaurant-item img {
  max-height: 180px;
  width: 100%;
}

.restaurant-item .caption {
  padding: 10px;
}

.nav-pills-center{
  text-align: center;
}

.nav-pills-center > li{
  float: none;
  display: inline-block;
}

.circular-image {
  border-radius:  50%;
}

.my-restaurant {
  display: inline-block;
  text-align: center;
  padding: 7px 7px 0 7px;
}

.my-restaurant img {
   max-height: 100%;
}

.my-restaurant-item{
  text-align: center;
  float :center
}

.my-restaurant-item-imag{
  border-radius:  10%;
  padding: 0px 0px;
  height: 40px;
}
